{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1 class="pb-3 pt-3">Create new Student</h1>

    <div class="container pb-3 pt-3">
    {{ include('student/_form.html.twig') }}

    <a href="{{ path('student_index') }}">back to list</a>

    </div>
{% endblock %}
