{% extends 'base.html.twig' %}

{% block title %}Adopte un Wilder{% endblock %}

    {% block otherstyle %}
            <link rel="stylesheet" href="/login_box.css">
    {% endblock %}


{% block body %}

        <div class="container-fluid background$">

            {% include '_login_box.html.twig' %}

        </div>

{% endblock %}
