
/* Primary: #F76C6C */

/* fonts */


@font-face {
    font-family: 'ITC Avant Garde Gothic Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book'), url('fonts/ag/itc-avant-garde-gothic-std-book-58957161d80eb.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('fonts/ag/itc-avant-garde-gothic-std-bold-589572c7e9955.woff') format('woff');
}
.ag-thick {
    font-family: 'ITC Avant Garde Gothic Std Bold', Ariel, sans-serif;
    font-size: 1.3rem;

}

.ag-thin {
    font-family: 'ITC Avant Garde Gothic Std Book', Ariel, sans-serif;
    font-size: 1.2rem;

}


/* image thumbnails */
.pp-thumb {
    height: 40px;
    width: 40px;
}


/* homepage background */
body, html {
    height: 100%;
}

.background {
    /*
    background-image: url("/images/backgrounds/girl-at-computer.jpeg");
    background-image: url("/images/backgrounds/beach-beautiful-bikini.jpg");
    background-image: url("/images/backgrounds/girl_computer_screen.jpg");
    background-image: url("/images/backgrounds/laptop-notebook-work.jpg");
        background-image: url("/images/backgrounds/girl-laying.jpg");
        background-image: url("/images/backgrounds/attractive-bedroom.jpg");
        background-image: url("/images/backgrounds/shhh.jpg");
        background-image: url("/images/backgrounds/man-laptop.jpg");
    */

    background-image: url("/images/backgrounds/shhh.jpg");
    height: calc(100% - 96px);
    background-position: left;
    background-repeat: no-repeat;

}

/* to cover
    background-image: url("/images/backgrounds/girl-at-computer.jpeg");
    height: calc(100% - 59px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 */




/* homepage log-in box */

.tabbed-login-box {
    position: relative;
    top: 8rem;
    left: 6rem;
    background-color: white;
}


.card {
    min-width: 15rem;
    max-width: 15rem;
    margin: 3rem;
}

.card-horizontal {
    min-width: 25rem;
    max-width: 25rem;
    margin: 3rem;
}


