
/* Primary: #F76C6C */

/* fonts */


@font-face {
    font-family: 'ITC Avant Garde Gothic Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Book'), url('fonts/ag/itc-avant-garde-gothic-std-book-58957161d80eb.woff') format('woff');
}
@font-face {
    font-family: 'ITC Avant Garde Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Avant Garde Gothic Std Bold'), url('fonts/ag/itc-avant-garde-gothic-std-bold-589572c7e9955.woff') format('woff');
}

@font-face {
    font-family: 'Camingo Code Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Camingo Code Bold'), url('fonts/camingocode/CamingoCode-Bold.ttf') format('ttf');
}

.navbar-brand {
    padding-top: 1rem;
}

.nav-img{
    margin-top: -0.5rem;
}

.nav-title{
    padding-left: 6px;
}

.ag-thick {
    font-family: 'ITC Avant Garde Gothic Std Bold', Ariel, sans-serif;
    font-size: 1.3rem;
}

.ag-thin {
    font-family: 'ITC Avant Garde Gothic Std Book', Ariel, sans-serif;
    font-size: 1.3rem;
}


/* image thumbnails */
.pp-thumb {
    height: 40px;
    width: 40px;
}


/* homepage background */
body, html {
    height: 100%;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 0;
}

.ag-thick-title {
    font-family: 'ITC Avant Garde Gothic Std Bold', Ariel, sans-serif;
    font-size: 4.3rem;

}

.ag-thin-title {
    font-family: 'ITC Avant Garde Gothic Std Book', Ariel, sans-serif;
    font-size: 4.2rem;
}


.background {
    /*
    background-image: url("/images/backgrounds/girl-at-computer.jpeg");
    background-image: url("/images/backgrounds/beach-beautiful-bikini.jpg");
    background-image: url("/images/backgrounds/girl_computer_screen.jpg");
    background-image: url("/images/backgrounds/laptop-notebook-work.jpg");
        background-image: url("/images/backgrounds/girl-laying.jpg");
        background-image: url("/images/backgrounds/attractive-bedroom.jpg");
        background-image: url("/images/backgrounds/shhh.jpg");
        background-image: url("/images/backgrounds/man-laptop.jpg");
    */

    background-color: #8959A8;
    background-image: url("/images/backgrounds/shhh.jpg");
    height: calc(100% - 95px);
    background-position: left;
    background-repeat: no-repeat;

}

/* to cover
    background-image: url("/images/backgrounds/girl-at-computer.jpeg");
    height: calc(100% - 59px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 */





.card-horizontal {
    min-width: 25rem;
    max-width: 25rem;
    margin: 3rem;
}



/* student page */

.student-card-deck {
    justify-content: center;
}

.student-card {
    min-width: 20rem;
    max-width: 20rem;
    text-align: center;
    margin: 2rem auto;
}

i {
    padding: 0 1rem;
}


.delete_form {
    display: inline;
}

.bottom_buttons {
    text-align: center;
}

.student_show_photo_thumb {
    height: 15%;
    width: 15%;
}

.cw-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}



/* Advanced search */

.threecolumns {
    column-count: 3;
}

.needspaddingontop {
    margin-top: 6rem;
}

.centered {
    text-align: center;
    margin-top: 4rem;
}



.big-pill {
    font-size: 1.2rem;
    margin: 2px 1px;
}

.cw-profile {
    width: 18%;
    height: auto;
}


th, td {
    padding: 25px;
    text-align: center;
}

#student_skills div, #student_skillsToLearn div {
     width: 33%;
    display:inline;
    float: left;
}

.heading-padding {
    margin-bottom: 3rem;
}

.wcs-logo-profile {
    width:80%;
    padding-bottom: 2rem;
}

.honor {
    font-family: 'Camingo Code Bold', Ariel, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    padding-bottom: 0;
    margin-bottom: 0;
}